@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono.ttf") format("truetype");
}

@font-face {
	font-family: "JetBrains Mono Italic";
	src: url("/fonts/JetBrainsMono-Italic.ttf") format("truetype");
}

:root {
	/* Variables */
	--bg: #171717;
	--border: #393a3b96;
	--border-accent: #4b4c4d;

	--accent: #3269df;
	--red: #fd4d4d;
	--green: green;

	--font-size-small: 10px;
	--font-size-medium: 12px;
	--font-size-big: 14px;

	--color-accent-error: var(--red);
	--color-accent-success: var(--green);
}

body {
	margin: 0;

	background-color: var(--bg);

	font-family: "JetBrains Mono";
}

button {
	margin: 0;
	padding: 0;
	background: none;
	outline: none;
	border: none;

	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
